# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
#*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
#*.pot

# Sphinx documentation
docs/_build/

# machine  specific
site/copy-blog.sh
site/blogduyax/output/
site/blogduyax/cache/
server/gitrepo/
server/config-blogduyax.json
server/messages.pot
i18n*
babel.cfg
Session.vim
server/db.json
